{% block _cleanup_shopping_list_widget %}
    <br />
    <a
            href="#"
            id="cleanup_shopping_list"
            class=" btn btn--block btn--info direct-link icons-holder-text no-hash"
            role="button"
            data-page-component-module="trainingfrontendtraining/js/app/components/cart-cleanup-component"
            data-page-component-options="{{ {
                route: 'training_bundle_frontendtraining_frontend_shoppinglistcleanup_cleanup',
                shoppingListId: shopping_list_id
            }|json_encode }}"
    >
        {{ 'training.frontend_training.cart.cleanup.button_label'|trans }}
    </a>
{% endblock %}
