{% block _product_view_container_widget %}
    {% set productImage = product.imagesByType('listing').first.image|default(null) %}
    {% set productImageUrl = product_filtered_image(productImage, 'product_small') %}

    {% set modelAttr = {
        'id': product.id,
        'sku': product.sku,
        'name': product.names|localized_value|e,
        'unit': product.primaryUnitPrecision.productUnitCode,
        'product_units': product.sellUnitsPrecision,
        'imageUrl': productImageUrl
    } %}

    {% if parentProduct is not null %}
        {% set modelAttr = modelAttr|merge({parentProduct: parentProduct.id}) %}
    {% endif %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroproduct/js/app/views/base-product-view',
            modelAttr: modelAttr
        },
        'data-layout': 'separate',
        'data-role': 'product-item',
        '~class': ' product-view ' ~ productTheme|default('default') ~ '-theme'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
