$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-checked: "\e904";
$icon-account: "\e900";
$icon-shopping-list: "\e918";
$icon-close: "\e905";
$icon-filter: "\e90b";
$icon-filter-account: "\e91f";
$icon-gallery: "\e90c";
$icon-list: "\e910";
$icon-menu: "\e911";
$icon-plus: "\e902";
$icon-minus: "\e920";
$icon-search: "\e916";
$icon-download: "\e909";
$icon-sorting: "\e919";
$icon-add-to-list: "\e901";
$icon-calendar: "\e903";
$icon-edit: "\e907";
$icon-arrow-down: "\e90a";
$icon-info-italic: "\e90d";
$icon-info: "\e90e";
$icon-phone: "\e912";
$icon-refresh: "\e913";
$icon-right-arrow: "\e914";
$icon-left-arrow: "\e91b";
$icon-right-chevron: "\e915";
$icon-box: "\e917";
$icon-warning: "\e91c";
$icon-twitter: "\e91a";
$icon-facebook: "\e908";
$icon-youtube: "\e91d";
$icon-linked-in: "\e90f";

