{% block _product_datagrid_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'trainingfrontendtraining/js/app/components/layout-block-refresh-component',
        'data-page-component-options': {
            'refreshBlockId': 'product_grid_container',
            'reloadEvents': ['training-product-datagrid:refresh'],
        }|json_encode(),
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
