/* @theme: new-theme; */
.social-links {
  list-style: none;
  color: get-color('text', 'secondary');
  border: 1px solid get-color('alternative', 'main');
  padding: 20px;
  margin: 0 8px;
  a {
    color: get-color('primary', 'main');
  }

}
