{% set formatValue = record.getValue('format') %}
{% set exampleFormat = app.user|training_format_user_naming(formatValue) %}

<div><b>ID={{ record.getValue('id') }}:</b> {{ formatValue }}</div>
<div><b>Example:</b> {{ exampleFormat }}</div>