.exception-page {
  .page-title {
    font-size: 40px;
    line-height: 44px;
    /*font-family: $secondary-font;*/
    font-weight: 700;
    display: block;
    margin-bottom: 24px;
    .page-title__text {
      //@include RegularTitle();
      font-size: 72px;
      line-height: 34px;
      display: block;
      margin-bottom: 14px;
    }
    .page-title__subtext {
      text-transform: none;
      display: block;
      padding-top: 6px;
      font-style: normal;
    }
  }
  .exception-page__content {
    font-size: 24px;
    line-height: 36px;
    max-width: 630px;
    text-align: center;
    margin: 0 auto;
  }
  .exception-page__action {
    padding-top: 25px;
    a {
      font-size: 24px;
    }
  }
}
.exception-page-wrapper {
  &.page-main {
    background: get-color('primary', 'yellow');
    padding-top: 0;
    .page-main__content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: get-color('additional', 'ultra');
      clip-path: polygon(12% 0,100% 0,100% 75%,88% 100%,0 100%,0 56%,0 24.5%);
      padding: 0;
      margin: 0  auto;
    }
  }
}
@include breakpoint('desktop') {
  .exception-page-wrapper {
    &.page-main {
      .page-main__content {
        min-height: 670px;
      }
    }
  }
}
@include breakpoint('tablet') {
  .exception-page-wrapper {
    &.page-main {
      min-height: 490px;
      .exception-page {
        min-height: 490px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
  .exception-page {
    .exception-page__content {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
