<table class="table table-bordered">
    <thead class="grid-header">
        <th class="grid-cell grid-header-cell shortenable-label string-cell">
            <%- _.__('training.frontend_training.dashboards.user_stats.first_name.label') %>
        </th>
        <th class="grid-cell grid-header-cell shortenable-label string-cell">
            <%- _.__('training.frontend_training.dashboards.user_stats.last_name.label') %>
        </th>
        <th class="grid-cell grid-header-cell shortenable-label string-cell">
            <%- _.__('training.frontend_training.dashboards.user_stats.email.label') %>
        </th>
        <th class="grid-cell grid-header-cell shortenable-label string-cell">
            <%- _.__('training.frontend_training.dashboards.user_stats.orders_count.label') %>
        </th>
    </thead>
    <tbody class="grid-body">
        <% if(userStats.length > 0) { %>
            <% for(let i = 0; i < userStats.length; i++) { %>
                <tr class="single-row grid-row row-4cells">
                    <td class="string-cell grid-cell grid-body-cell grid-body-cell-item">
                        <%- userStats[i].firstName %>
                    </td>
                    <td class="string-cell grid-cell grid-body-cell grid-body-cell-item">
                        <%- userStats[i].lastName %>
                    </td>
                    <td class="string-cell grid-cell grid-body-cell grid-body-cell-item">
                        <%- userStats[i].email %>
                    </td>
                    <td class="string-cell grid-cell grid-body-cell grid-body-cell-item">
                        <%- userStats[i].ordersCount %>
                    </td>
                </tr>
            <% } %>
        <% } else { %>
            <tr class="single-row grid-row row-4cells">
                <td class="string-cell grid-cell grid-body-cell grid-body-cell-item" colspan="4">
                    <%- _.__('training.frontend_training.dashboards.user_stats.no_users.label') %>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>
